body {
  background-image: url("https://www.colourbox.com/preview/6429236-school-education-seamless-background.jpg");
  max-width: 1200px;
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 100px;
}

button {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  background-color: #091f56;
  box-shadow: 0 0 5px black;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
}

button:hover {
  box-shadow: 0 0 2px black;
}

h1, h2, h3 {
  text-align: center;
}

.main {
  background-color: white;
  box-shadow: 0 0 5px black;
  background-color: #fffced;
}

.miniSudoku {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 0 5px black inset;
  margin-bottom: 10px;
}

.sudokuSelected {
  border: 2px solid red;
  box-shadow: 0 0 5px black;
}

.sudokuSquare {
  height: 75px;
  border: 1px solid black;
  display: flex;
}

.miniSudokuSquare {
  border: 1px solid black;
  display: flex;
  padding: 0px !important;
}

.sudokuSquare input {
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-align: center;
  border: 0px solid white;
}

.miniSudokuSquare input {
  width: 100%;
  height: 100%;
  font-size: 10px;
  text-align: center;
  border: 0px solid white;
}

.sudokuBox {
  border: 2px solid black;
}

.miniSudokuBox {
  border: 2px solid black;
}

.jumbotron {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  width: 100%;
  margin: 0 !important;
  border: 2px solid black;
  background-color: #003182 !important;
}

.jumbotron h1 {
  font-size: 70px;
  color: white;
}

#sudokuBoard {
  margin: 30px;
  background-color: white;
  box-shadow: 0 0 10px black inset;
}

#sidebar {
  display: inline-block;
  float: left;
  width: 20%;
  margin: 0;
  border: 2px solid black;
  min-height: 800px;
  overflow-y: auto;
  padding: 10px; 
}

#main {
  display: inline-block;
  width: 80%;
  margin: 0;
  border: 2px solid black;
  min-height: 800px;
}
